<h1>Update Monthly Budget</h1>

<table border="solid">
    <tr>
        <th>Category</th>
        <th>Budget</th>
        <th> </th>
        <th> </th>
    </tr>
    {{#each budget}}
    <tr>
        <td>{{this.category}}</td>
        <td>{{this.budget}}</td>
        <td>
            <form method="GET" action="/user/budget/{{this.users_id}}/edit/{{this.category}}">
                <input name="edit" type="submit" value="Edit" />
            </form>
        </td>
        <td>
            <form method="POST" action="/user/budget/{{this.users_id}}/delete/{{this.category}}?_method=DELETE">
                <input name="delete" type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    {{/each}}
</table>
<br>

<form class="userForm" method="POST" action="/user/budget/{{userId}}">
    <div class="userAttribute">
        Account Number:
        <input name="accountNumber" type="type" value="{{userId}}" readonly />
    </div>
    <br>
    <div class="userAttribute">
        Category:
        <input name="category" type="type" />
    </div>
    <br>
    <div class="userAttribute">
        Budget:
        <input name="budget" type="type" />
    </div>
    <br>
    <input name="submit" type="submit" value="Add" />
</form>