{{#if loggedIn}}
    <h1>Hi {{username}}, let's start saving!</h1>

    <div class="dashboard">
        <form method="GET" action="/user/{{userId}}/edit">
            <input class="dbButton" id="personal" name="submit" type="submit" value="Personal" />
        </form>
        <form method="GET" action="/user/budget/{{userId}}">
            <input class="dbButton" id="budget" name="submit" type="submit" value="Budget" />
        </form>
        <form method="GET" action="/user/expense/{{userId}}">
            <input class="dbButton" id="expenses" name="submit" type="submit" value="Expenses" />
        </form>
        <form>
            <input class="dbButton" id="friends" name="submit" type="submit" value="Friends" />
        </form>
    </div>
    {{else}}
        <h1>Please login</h1>
{{/if}}